.courses-title {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6.25rem;
  background-color: #1A2238;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 50% 20%; // Adjust these percentages to change the shape of the curve
  border-bottom-right-radius: 50% 20%; // Adjust these percentages to change the shape of the curve
  overflow: hidden; // Add this to ensure the curve is visible
}

.courses-title h2 {
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.courses-title p {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  color: #fff;
}

p span {
  color: #FF6A3D;
}

.anchor-edits {
  padding: 1rem 0;
}

.anchor-edits a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  margin-top: 1em;
  font-size: 1.2em;
  transition: color 0.3s ease;
  background-color: #1A2238;
}

.anchor-edits a:hover {
  background-color: #9DAAF2;
}

.courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-card {
  font-family: 'Lato', sans-serif;
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  flex-basis: 100%;
  transition: all 0.3s ease;

  &:hover {
    border-color: #999;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  }
}

.course-card h2 {
  color:#000
}

.course-card img {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
  margin-bottom: 0.625rem;
}

.course-title, .course-details, .course-availability, .course-date {
  margin: 0 0 0.3125rem 0;
}

form {
  margin-top: 8rem;
}

.button {
  background-color: #576DE9;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: 0.3125rem 0.3125rem;
  transition: background-color 0.2s ease;
  width: auto;

  &:hover {
    background-color: #9DAAF2;
  }
}

.show-all-button {
  background-color: #FD3B00;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem; // Increase padding to make the button bigger
  cursor: pointer;
  margin: 0.3125rem 3.3125rem;
  transition: background-color 0.2s ease;
  width: auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    background-color: #FF6A3D;
  }
}

.register-form, .signin-form {
  margin-top: 20vh;
}

.register-form input[type="submit"], .signin-form input[type="submit"], .add-course-button, #addCourseForm button {
  background-color: #576DE9;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: 0.3125rem auto;
  transition: background-color 0.2s ease;
  width: 40%;
  

  &:hover {
    background-color: #9DAAF2;
  }
}

.delete-button {
  background-color: #FD3B00;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: 0.3125rem 0.3125rem;
  transition: background-color 0.2s ease;
  width: auto;

  &:hover {
    background-color: #FF6A3D;
  }
}

.edit-button {
  background-color: #576DE9;
  color: #fff;
  border: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: 0.3125rem 0.3125rem;
  transition: background-color 0.2s ease;
  width: auto;

  &:hover {
    background-color: #9DAAF2;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal h2 {
  color: #000;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1.25rem;
  border: 0.0625rem solid #888;
  width: 80%;
  text-align: left;
}

.modal img {
  width: 100%;
  height: auto;
}

.course-item {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2.75rem;
  font-weight: bold;

  &:hover, &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.register-form, .signin-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 1.25rem;
  background-color: #f1f1f1;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="tel"], .register-form input[type="password"], .signin-form input[type="text"], .signin-form input[type="email"], .signin-form input[type="tel"], .signin-form input[type="password"] {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
}

.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.edit-container h2 {
  color: #000;
  margin-top: 2rem;
}

#editCourseForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.25rem;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}

#addCourseForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1.25rem;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
}

#courses {
  width: 60%;
}

#courses div {
  border: 1px solid #000;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#addCourseForm input[type="text"], #addCourseForm input[type="email"], #addCourseForm input[type="tel"], #addCourseForm input[type="password"], #addCourseForm textarea {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
}

#editCourseForm input[type="text"], #editCourseForm input[type="email"], #editCourseForm input[type="tel"], #editCourseForm input[type="password"], #editCourseForm textarea {
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
}